
 /*Main CSS Code */
html {
	padding-left: 200px;
	padding-right: 200px;
}


body{
	background-color: #A5CD39;
}



li {
	font-size: 15px;
}

h1 {
	/*font-size: 135px;*/
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	font-family: 'Oswald', sans-serif;
	color: #A5CD39; 

}

h2 {
	padding-left: 15px;
	padding-right: 20px;
	font-family: 'Oswald', sans-serif;
}

.jumbotron {
	background-image:url('../css/img/pic1.jpg');
	position: center;
	background-size: cover;
 }

p {
	padding: 20px;
	font-size: 20px;
	font-kerning: 10px;
	font-family: 'Comfortaa', cursive;
}

div {
	background-color: #d4e69c;
}

ul {
	padding: 30px;
	font-size: 15px;
}

form-group {
	padding:
}

/*Nav CSS */


body {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #859a44;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
	font-family: 'Oswald', sans-serif;
}


ul.topnav li a:hover {
	background-color: #e5ff95;
	font-color: black;
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
/* end of nav css*/
